body{
  font-family: 'UD デジタル 教科書体 NK-B',UD Digi Kyokasho NK-B;
  text-align: center;
}

input{
  border: none;
  margin: 0.5rem 0;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  background: #fffbeb;
}

input[type=submit]{
  background: #F08300;
  color: #fff;
  width: auto;
}

input::placeholder{
  color: #7a7a7a;
}