header {
  display: flex;
  padding: 5px 20px 5px 30px;
  height: 55px;
  background-color: #cccccc;
}

.header-left {
  float: left;
  width: 70%;
}

.header-left-bottom {
  float: left;
  width: 30%;
}
.header-left-left {
  float: left;
  width: 50%;
}

.header-left-right {
  float: right;
  width: 50%;
}

.header-right {
  float: right;
  width: 30%;
}

.header-right-left {
  float: left;
  width: 80%;
}

.header-right-right {
  float: right;
  width: 20%;
}

.header-left-top {
  text-align: left;
  font-size: 18px;
}

.header-left-left a {
  font-size: 11px;
  padding: 6px 12px 6px 12px;
  line-height: 30px;
  color: #053C58;
  text-decoration: none;
  background-color: #EF858C;
  box-shadow: 1px 1px 1px #405757;
}

.header-right-left a {
  font-size: 15px;
  padding: 15px 13px 15px 13px;
  line-height: 57px;
  color: #053C58;
  text-decoration: none;
  background-color: #99CCCC;
  box-shadow: 1px 1px 1px #405757;
}

.header-right-right a {
  border-radius: 100%;
  padding: 8px;
  border: none;
  background-color: #99CCCC;
  font-size: 35px;
  line-height: 57px;
  color: #fff;
  text-decoration: none;
  box-shadow: 1px 1px 1px #405757;
  text-shadow:  1px  1px 1px #009999, -1px  1px 1px #009999, 1px  -1px 1px #009999, -1px  -1px 1px #009999;
}

.header-right-left a:hover, .header-right-right a:hover, .header-left-left a:hover {
  box-shadow:
    1px 1px 3px transparent,
    -1px -1px 3px transparent,
    inset 1px 1px 3px #405757,
    inset -1px -1px 3px #fff;
  transition: all 0.3s;
}

body{
  font-family: Roboto;
  margin: 0px;
  color: #053C58;
  text-align: center;
}

.prj {
  background-color: #EAEEF1;
  /* margin: 5px 60px 20px 60px; */
  /* margin: 1px 60px 20px 60px; */
}

.prj-header-left {
  float: left;
  width: 20%;
}

.prj-header-left-left {
  float: left;
  width: 50%;
}

.prj-header-left-right {
  float: right;
  width: 50%;
}

.prj-header-right {
  float: right;
  width: 30%;
}

.prj-title {
  text-align: left;
}

.members {
  float: left;
  width: 30%;
  text-align: left;
}

.view {
  float: right;
  width: 70%;
  text-align: left;
}