header {
  display: flex;
  padding: 10px;
  padding-left: 30px;
  height: 50px;
  background-color: #cccccc;
  align-items: center;
  font-size: 120%;
}

body{
  font-family: Roboto;
  margin: 0px;
  color: #053C58;
  text-align: center;
}

.h1 {
  margin-left: 2%;
  margin-right: 2%;
  padding-top: 2%;
  padding-left: 6%;
  height: 30px;
  text-align: left;
  font-size: 100%;
  border-bottom: 1px  solid #cccccc;
}

form {
  padding: 30px;
}

.tag {
  margin-left: 25%;
  text-align: left;
}

input[type=text], input[type=password]{
    margin-bottom: 15px;
    border: 1px solid #053C58;
    width: 50%;
    height: 60px;
    border-radius: 10px;
    font-size: 150%;
}

input::placeholder {
  color: #c4c4c4;
  text-align: left;
}

a, input[type="submit"] {
  padding: 2% 5% 2% 5%;
  margin: 2% 10% 2% 10%;
  width: auto;
  height: auto;
  border-radius: 10px;
  border: none;
  background-color: #99CCCC;
  font-size: 150%;
  text-decoration: none;
  box-shadow: 1px 1px 3px #405757;
}

a:hover, input[type="submit"]:hover{
  box-shadow:
    1px 1px 3px transparent,
    -1px -1px 3px transparent,
    inset 1px 1px 3px #405757,
    inset -1px -1px 3px #fff;
  transition: all 0.3s;
}

a:active, input[type="submit"]:active {
  color: #fff;
}
